{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hackathon</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% block link %}{% endblock %}">

</head>

<body>
    <div class="flex">
        <span class="logo">
            <a href="{% url 'print_seat:main' %}">
                로고
            </a>
        </span>
        <span class="menu">
            <a href="#" id="seat-btn">
                좌석
            </a>
        </span>
        <span class="menu">
            <a href="{% url 'print_seat:policy' %}">
                정책
            </a>
        </span>
        <span class="menu">
            <a href="{% url 'print_seat:service' %}">
                서비스
            </a>
        </span>
        <span class="menu">
            <a href="{% url 'print_seat:introduce' %}">
                소개
            </a>
        </span>
    </div>

    <div class="content">
        {% block content %}{% endblock %}
    </div>
    <div class="black">
    <div class="footer" id="foo">

        <a href="#">이승준</a>
        <a href="#">임성민</a>
        <br>
        <a href="https://github.com/rhehd721/">박병호 https://github.com/rhehd721</a>
        <a href="#">장혜린</a>

    </div>
    </div>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% block js %}{% endblock %}"></script>
    {% block added_js %}{% endblock %}
</body>

</html>