{% extends 'base.html' %}
{% block content %}
<div class="seat-with-title" id="seat-with-title">
    <p><span class="seat-title">좌석현황</span></p>
    <div class="seat-container">
        <div class="seat-row reverse">
            <div class="seat pregnant occupied"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat pregnant"></div>
        </div>
        <div class="seat-row">
            <div class="seat pregnant"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat pregnant"></div>
        </div>
    </div>
</div>
{% endblock %}