{% extends 'home.html' %}
{% load static %}
{% block link %}{% static 'css/introduce.css' %}{% endblock %}
{% block content %}
    <ul class="member-card-list">
        <li class="member-card">
            <img src="{% static 'img/profile1.jpg' %}" alt="member-profile" class="member-profile-img">
            <label class="member-name">박병호</label>
            <p class="member-role">Front-end</p>
            <div class="description">
                <p>안녕하세요 박병호입니다.</p>
            </div>
        </li>
        <li class="member-card">
            <img src="{% static 'img/profile2.png' %}" alt="member-profile" class="member-profile-img">
            <label class="member-name">임성민</label>
            <p class="member-role">Back-end</p>
            <div class="description">
                <p>안녕하세요 임성민입니다.</p>
            </div>
        </li>
        <li class="member-card">
            <img src="{% static 'img/profile.png' %}" alt="member-profile" class="member-profile-img">
            <label class="member-name">이승준</label>
            <p class="member-role">Full-stack</p>
            <div class="description">
                <p>코딩이 너무 즐거워요 ^~^</p>
            </div>
        </li>
        <li class="member-card">
            <img src="{% static 'img/profile4.jpg' %}" alt="member-profile" class="member-profile-img">
            <label class="member-name">장혜린</label>
            <p class="member-role">Front-end</p>
            <div class="description">
                <p>정신차려 보니 공대생</p>
            </div>
        </li>
    </ul>
{% endblock %}
{% block js %}{% static 'js/introduce.js' %}{% endblock %}