{% extends 'home.html' %}
{% load static %}
{% block link %}{% static 'css/seat.css' %}{% endblock %}

{% block content %}

<div class="seat-with-title" id="seat-with-title">
    <p><span class="seat-title">좌석현황</span></p>
    <div class="seat-container">
        <div class="seat-row reverse">
            <div class="seat pregnant" id="pregnant1"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat pregnant"></div>
        </div>
        <div class="seat-row">
            <div class="seat pregnant"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat"></div>
            <div class="seat pregnant" id="pregnant2"></div>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}{% static 'js/home_copy.js' %}{% endblock %}
{% block js2 %}{% static 'js/index.js' %}{% endblock %}
{% block added_js %}
<script>
    function addClass(element, _class) {
        element.classList.add(_class);
    }

    function resetClass(element) {
        element.classList.remove('occupied');
    }

    const OCCUPIED_CLASS = 'occupied';
    const pregnant1 = document.getElementById('pregnant1'),
        pregnant2 = document.getElementById('pregnant2');

    function updateOccupied(occupied1, occupied2) {
        const OCCUPIED_1 = occupied1;
        OCCUPIED_2 = occupied2;
        resetClass(pregnant1);
        resetClass(pregnant2);
        if (OCCUPIED_1) {
            // 자리 참
            addClass(pregnant1, OCCUPIED_CLASS);
        }
        if (OCCUPIED_2) {
            addClass(pregnant2, OCCUPIED_CLASS);
        }
    }

    const url = `{% url 'print_seat:get_seat' %}`;
    function updateSeat() {
        fetch(url).then(response => response.json())
            .then(json => {
                const num1 = json['num1'];
                const num2 = json['num2'];
                updateOccupied(num1, num2);
            });
    }

    setInterval(updateSeat, 3000);


</script>
{% endblock %}