@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans KR', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header, .header>img {
    width: 100%;
}

/* 제목 */
.nav {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    height: 43px;
    width: 100%;
    background: #fff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* 메뉴 */
.menues {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50vw;
}

/* a 태그 초기화 */
.menues a {
    text-decoration: none;
    color: #000;
}

/* 메뉴 효과 */
.menues a:hover {
    color: #ccc;
    transition: color .2s ease-out;
}

.menues a:hover, .menues a {
    transition: color .2s ease-out;
}

/* 본문 */
.content {
    /* height: 750px; */
    width: 70vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}