.content {
    height: 750px;
}

/* 좌석 스타일 */
.seat-with-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-title {
    font-size: 22px;
}

.seat-container {
    height: 250px;
    width: 275px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seat-row {
    display: flex;
    justify-content: space-between;
}

.seat {
    width: 50px;
    height: 50px;
    background: #ccc;
    margin: 0;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
}

.seat-row.reverse>.seat {
    border-radius: 0;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.seat.pregnant {
    background: rgb(255, 128, 128);
}

.seat.occupied {
    border: 2px solid #000;
}